
/*

body {
  margin: 0px;
  min-width: 600px;
}







*/

header {
  font-family: verdana;
}

.container-fluid {
  padding: 0;
}

.header-column {
  margin: 0;
  padding: 0;
}

#header-text-column {
  position: relative;
  z-index: 1;
}

h1 {
  position: absolute;
  z-index: 2;
  top: 100px;
  left: 15.2065px;
  right: 15.2065px;
  margin: 0px;
  font-size: 2em;
  font-weight: 600;
}

#summer2017 {
  position: absolute;
  z-index: 2;
  top: 175px;
  left: 83.1565px;
  right: 83.1565px;
  font-size: 2.5em;
  margin: 0px;
}

main {
  background-color: #e0e0e0;
  padding-top: 20px;
}


.shortlist {
  font-size: 1.5em;
  text-align: center;
  list-style-position: inside;
  padding-left: 0px;
}

.shortlist-item {
} /* unnecessary?*/

.longlist {
  margin-bottom: 0px;
}

.longlist-item {
  font-size: 1.5em;
  margin-bottom: 16px;
}

/*


*/

.attractions {
  font-size: 1.4em;
  list-style: disc;
  padding-left: 0;
  padding-bottom: 12px;
}

footer {
  font-family: georgia;
  background-color: #e0e0e0;
}

#bonvoyage {
  font-size: 2.25em;
  margin: 0px;
  padding: 30px;
}

/*

#destinations {
  margin: 0px;
  padding-top: 16px;
  padding-left: 25px;
}




*/

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {

  .shortlist {
    font-size: 1.25em;
  }

  .longlist-item {
    font-size: 1.25em;
  }

  .attractions {
    font-size: 1.125em;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

}
