html {
  background-color: #e0e0e0;
}

body {
  max-width: 1200px;
  margin: auto;
}

header {
  font-family: verdana;
}

.container-fluid {
  padding: 0;
}

#header-text-column {
  position: relative;
  z-index: 1;
}

h1 {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 15px;
  right: 15px;
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
}

#summer2017 {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 40px;
  right: 40px;
  font-size: 1.5em;
  margin: 0px;
}

main {
  background-color: #e0e0e0;
  padding-top: 20px;
}


.shortlist {
  font-size: 1em;
  text-align: center;
  list-style-position: inside;
  padding-left: 0px;
  margin-bottom: 32px;
}

.longlist {
  margin-bottom: 0px;
}

.longlist-item {
  font-size: 1.25em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.attractions {
  font-size: 0.75em;
  list-style: disc;
  list-style-position: inside;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
}

footer {
  font-family: verdana;
  background-color: #e0e0e0;
}

#bonvoyage {
  font-size: 3em;
  margin: 0px;
  padding: 30px;
}

/* Extra Small devices (410px and up)*/
@media screen and (min-width: 410px) {

  h1 {
    font-size: 1.5em;
  }

  #summer2017 {
    font-size: 2em;
  }

  .shortlist {
    font-size: 1.125em;
  }

  .longlist-item {
    font-size: 1.35em;
  }

  .attractions {
    font-size: 0.9em;
  }
}

/* Small devices (525px and up)*/
@media screen and (min-width: 525px) {

  h1 {
    font-size: 2em;
  }

  #summer2017 {
    font-size: 2.5em;
  }

  .shortlist {
    font-size: 1.35em;
  }

  .longlist-item {
    font-size: 1.65em;
  }

  .attractions {
    font-size: 1.125em;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Medium devices (768px and up)*/
@media screen and (min-width: 768px) {

  h1 {
    font-size: 2.5em;
  }

  #summer2017 {
    font-size: 3em;
  }

  .longlist-item {
    font-size: 1.9em;
  }
}

/* Large devices (992px and up)*/
@media screen and (min-width: 992px) {

  h1 {
    font-size: 1.2em;
  }

  #summer2017 {
    font-size: 1.75em;
  }

  .shortlist {
    font-size: 1.125em;
  }

  .longlist-item {
    font-size: 1.25em;
    margin-bottom: 12px;
  }

  .attractions {
    font-size: 1em;
    list-style-position: outside;
  }
}

/* Extra large devices (1200px and up)*/
@media screen and (min-width: 1200px) {

  h1 {
    font-size: 1.5em;
  }

  #summer2017 {
    font-size: 2em;
  }

  .longlist-item {
    font-size: 1.5em;
  }
}
